.sectionThree{
  background-color: white;
  .sectionRow{
    .sectionContent{
      max-width: 960px;
      margin: 0 auto;
      overflow: hidden;

      .sectionCol{
        width: 49%;
        float: left;
        padding-right: 1%;

        #gMap{
          width: 100%;
          display: inline-block;
        }

        &.left{
          padding-left: 1.5%;
          .paragraph{
            line-height: 1.5;
            margin-top: -0.7em;

            dl{
              overflow: hidden;
              dt{
                float: left;
                display: inline-block;
                clear: left;
                &.spacer{
                  margin-bottom: 0.5em;
                }
              }
              dd{
                display: inline-block;
                float: left;
                margin-left: 0.25em;
                &.spacer{
                  margin-bottom: 0.5em;
                }
              }
            }

          }
          .gmap{
            margin-top: 0;
          }
          .spacer{
            height: 2em;
          }
          .contacts{
            line-height: 1.5;
            span{
              width: 100%;
              display: block;
            }
            .bold{
              font-weight: 700;
            }
          }
        }
      }
    }
    .sectionHeader{
      &.green{
        background-color: rgb(27, 92, 27) !important;
        height: 9em;

        .h2{
          color: white;
          margin: 0 auto;
          max-width: 960px;
          text-align: center;
          font-size: 2em;
          vertical-align: middle;
          line-height: 4.5em;
          h2{
            padding: 0;
            margin: 0;
            span{
              font-weight: 200;
            }
          }
        }
      }
    }


    .articleHeader{
      font-size: 1.3em;

      h3{
        font-weight: 400;
        margin-bottom: 0;
      }
    }

    .sectionForm{

      form{
        overflow: hidden;
        padding-bottom: 1.5em;
      }
    }


    input[type="text"], input[type="email"], input[type="number"], input[type="tel"]{
      background-color: rgba(81, 81, 81, 0.15);
      border: 2px solid #ffffff;
      font-size: 16px;
      height: 40px;
      margin: 3px 0;
      padding: 0 10px;
      width: 100%;
    }
    .formInput{
      padding-left: 0.9375em;
      padding-right: 0.9375em;
      margin-top: 0.7em;
      text-align: left

    }

    .inputName{
      display: inline-block;
      width: 33.3%;
      position: relative;
    }

    .inputEmail{
      display: inline-block;
      width: 33.3%;
      position: relative;
    }

    textarea{
      background-color: rgba(81, 81, 81, 0.15);
      border: 2px solid #ffffff;
      font-size: 16px;
      height: 5em;
      margin: 0.2em 0;
      min-height: 3em;
      padding: 0.7em;
      width: 100%;
    }

    .cta-button::after{
      content: "";
      display: inline-block;
      height: 100%;
      margin-right: -0.25em;
      vertical-align: middle;
      width: 0;
    }
    .cta-button{
      background-color: rgb(255, 255, 255) !important;
      border-color: rgb(27, 92, 27) !important;
      border-style: solid !important;
      border-width: 2px !important;
      color: rgb(255, 255, 255) !important;
      display: inline-block;
      border-radius: 6px;
      max-width: 100%;
      padding: 0;
      width: 13em;
      float: right;
      margin: 1.15em 0.95em;

      input[type=submit]{
        color: rgb(27, 92, 27) !important;
        background-color: transparent;
        font-size: 1.125em;
        margin: auto;
        padding: 10px;
        width: 98%;
        height: auto;
        cursor: pointer;
        font-size: 1em;
      }
    }

  }
}
